<header id="header">
    <a href="#" class="logo"><strong>@Config.CompanyName</strong></a>
    
    <ul class="icons">
        <li><a href="https://www.facebook.com/people/Ekaterina-Klavisha/100007106234142" class="icon brands fa-facebook-f"><span class="label"></span></a></li>
        @*<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>*@
        <li><a href="https://www.instagram.com/klavisha_/" class="icon brands fa-instagram"><span class="label"></span></a></li>
        <li><a href="https://www.youtube.com/channel/UCMYMD8eFMuSCuhm0iq3Qf8A" class="icon brands fa-youtube"><span class="label"></span></a></li>
    </ul>
</header>
