        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Меню</h2>
            </header>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                <li><a asp-area="" asp-controller="Products" asp-action="Index">Пособия</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">Обо мне</a></li>
                <li><a asp-area="" asp-controller="Feedback" asp-action="Index">Отзывы</a></li>
                <li><a asp-area="" asp-controller="Articles" asp-action="Index">Статьи</a></li>
                <li><a asp-area="" asp-controller="SynthKeyboard" asp-action="Index">Играть на клавиатуре</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
