<script src="~/js/synthKeyboard/synthKeys.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/addons/p5.sound.js"></script>
<div align="center" class="keyboard">
    Place for keys
</div>

<script>
    window.onload = drawKeys();

</script>